<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Passionate, skilled and creative problem solver</h2>
                <hr class="light">
                <p class="text-faded">I enjoy building data driven solutions to solve complex problems. I worked in one of the leading Data Science Companies, Dunnhumby for four years. Throughout my tenure, I was involved in designing Analytical Customer Relation Management mechanisms and solutions for Loyalty Programs for various organizations and helped retailers make smarter decisions through data-driven insights. </p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
