<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        
        <div class="row no-gutter">
            
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Sonull/Sentiment-Analysis-on-Yelp-Reviews" class="portfolio-box">
                    <img src="img/portfolio/1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name text-uppercase">
                                Sentiment Analysis on Yelp Data
                            </div>
                            <div class="project-category text-left"><ul>
                                <li>Toolkit: Python, Logistic Regression Model, Random Forest, SVM, n-gram sequences, vectorizers</li>
                                <li>Concept: Predicted the rating on Yelp by performing Sentiment Analysis on review</li>
                                <li>Data: Business and Reviews dataset obtained from official website of Yelp as part of Yelp Data Challenge</li></ul>
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Sonull/Classification-and-Supervised-Learning-on-Financial-Data" class="portfolio-box">
                    <img src="img/portfolio/2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name text-uppercase">
                                Classification and Supervised Learning on Financial Data
                            </div>
                            <div class="project-category text-left"><ul>
                                <li>Toolkit: R, Decision Tree, Random Forest, dplyr, ggplot2</li>
                                <li>Concept: Analysing the Financial data and predicting whether the S&P 500 Index would have a gain for two days </li>
                                <li>Data: Stock Prices with Open, High, Low and Close values for a day with a binary target variable</li></ul>
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Sonull/Web-Scraping-Indeed" class="portfolio-box">
                    <img src="img/portfolio/3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name text-uppercase">
                                Web Scraping
                            </div>
                            <div class="project-category text-left"><ul>
                                <li>Toolkit: Python, Beautiful Soup</li>
                                <li>Concept: Scraped the Indeed website to gather information around skills needed for a Data Scientist roles in top companies as well as Reviews of top companies</li>
                                <li>Data: Scraped from the website</li></ul>
                                
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Sonull/West-Nile-Virus-in-Chicago" class="portfolio-box">
                    <img src="img/portfolio/4.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name text-uppercase">
                                Predicting West Nile Virus in Chicago
                            </div>
                            <div class="project-category text-left"><ul>
                                <li>Toolkit: Python, Logistic Regression, XG Boost, Random Forest, SMOTE, Feature Engineering</li>
                                <li>Concept: Obtained the likelihood of West Nile Virus being present given the spray time, location, weather and mosquito species</li>
                                <li>Data: Created a master dataset collating information obtained from Weather,Spray and Trap across multiple years</li></ul>
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Sonull/Data-Hackathon-2019" class="portfolio-box">
                    <img src="img/portfolio/5.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name text-uppercase">
                                Won First Prize in the Hackathon organized by Orange County's R Users group
                            </div>
                            <div class="project-category text-left">
                                <ul>
                                <li>Toolkit: R, Logistic Regression, SMOTE </li>
                                <li>Concept: Predict whether the client will subscribe (yes/no) to a term deposit. Key Process Owners can use the output of this prediction to improve the stragegy for the next market campaign</li>
                                <li>Data: The data is about direct marketing campaigns (phone calls) of a Portuguese banking institution from May 2008 to November 2010. The clients were contacted more than once in order to access if the product (bank term deposit) would be (‘yes’) or not (‘no’) subscribed.</li></ul>
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Sonull/Clustering-and-Unsupervised-Learning-on-Airbnb-LA-data" class="portfolio-box">
                    <img src="img/portfolio/6.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name text-uppercase">
                                Clustering and Unsupervised Learning on Airbnb LA data
                            </div>
                            <div class="project-category text-left"><ul>
                                <li>Toolkit: R, K-Means, Multivariate Linear Regression, dplyr, ade4, ggplot2 </li>
                                <li>Concept: Obtained the likelihood of West Nile Virus being present given the spray time, location, weather and mosquito species</li>
                                <li>Data: Created clusters of similar Airbnb rooms in Los Angeles, California and Built a multivariate linear regression model to predict the price of a room in each cluster</li></ul>
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>



            
        </div>



        <div class="row no-gutter">
            
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Sonull/Analysis-of-Stock-Prices-and-Crunchbase-database-on-Python" class="portfolio-box">
                    <img src="img/portfolio/7.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name text-uppercase">
                                Analysis of Stock Prices and Crunchbase database
                            </div>
                            <div class="project-category text-left"><ul>
                                <li>Toolkit: Python, SQL, Seaborn, Matplotlib, Cufflinks, Plotly, Iplot</li>
                                <li>Concept: Analysis of Stock Prices for major banks and Crunchbase database</li>
                                <li>Data: Stock data collected using DataReader package in Pandas</li></ul>
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Sonull/Gun-Violence-in-America" class="portfolio-box">
                    <img src="img/portfolio/8.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name text-uppercase">
                                Gun Violence incidents in the United States
                            </div>
                            <div class="project-category text-left"><ul>
                                <li>Toolkit: Tableau</li>
                                <li>Concept: Analysis of Gun Violence Incidents in America in 2017 </li>
                                <li>Data: Publicly available data containing details around every gun related incident in the United States</li></ul>
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Sonull/Price-Prediction-using-Multivariate-Linear-Regression" class="portfolio-box">
                    <img src="img/portfolio/9.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name text-uppercase">
                                Price Prediction
                            </div>
                            <div class="project-category text-left"><ul>
                                <li>Toolkit: R, Multivariate Linear Regression</li>
                                <li>Concept: Predicting the price of a house in King County, Washington</li>
                                <li>Data: Information around the houses sold in King County between May 2014 and May 2015</li></ul>
                                
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>
            

            
        </div>


    </div>
</section>
